<!DOCTYPE html>
<html>

<head>
    <title>contact</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
</head>

<body>
    <% include partial/nav.ejs %>
    <main role="main" class="container">
        <h1 class="mt-5">contact</h1>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
        
    </main>
    <% include partial/footer.ejs %>
    <script type="text/javascript">
    $(document).ready(function() {

    });
    </script>
</body>

</html>