<!DOCTYPE html>
<html>

<head>
    <title>apple</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
</head>

<body>
    <% include partial/nav.ejs %>
    <main role="main" class="container">
        <h1 class="mt-5">it's me, home page</h1>
        <p class="lead">this is a node express bootstrap website.</p>
        <form action="/process_post" method="post" class="tform">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="name" name="name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="url" name="url">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="type" name="type">
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-primary">Submit</button>
        </form><br>
        <table class="table">
            <thead>
                <tr>
                    <td>name</td>
                    <td>url</td>
                    <td>type</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <img src='/assets/img/apple.png' class="img-thumbnail" width="100"><br>
        <a href="/profile/toma">go</a><br>
        <button type="button" class="readbd">read db</button>

        <div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

    </main>
    <% include partial/footer.ejs %>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".readbd").click(function() {
            $(this).html('loading.....')
            $.post("/api/getdb", function(data, status) {
                $('.readbd').html('ok')
                $.each(data, function(i, item) {
                    $('tbody').append('<tr><td>' + item.name + '</td><td>' + item.url + '</td><td>' + item.type + '</td></tr>');
                })
                console.log("Data: " + data[0].name + "\nStatus: " + status);
            });
        });

        $('.btn-primary').click(function() {
        	$(this).html('sending.....')
            $.ajax({
                url: '/process_post',
                type: 'post',
                dataType: 'json',
                data: $('.tform').serialize(),
                success: function(data) {
                    console.log('success:'+data);
                },
                complete: function(data){
                    //console.log(data.responseText);
                    $('.btn-primary').html(data.responseText)
                    $('.tform')[0].reset()
                }

            });
        });

        // $("form").submit(function(event) {
        //     if ($("input:first").val() != "") {
        //         $("span").text("Validated...").show();
        //         return;
        //     }

        //     $("span").text("Not valid!").show().fadeOut(1000);
        //     //event.preventDefault();
        // });
    });
    </script>
</body>

</html>